/*------------
    RESET
-------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/*------------
    COMMONS
-------------*/
.container {
    max-width: 800px;
    margin: auto;
}

/*------------
    HEADER
-------------*/
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: lightgray;
}

.main-nav, .main-nav ul li {
    display: inline-block;
}

.logo {
    margin-right: 20px;
    width: 160px;
}
.logo, .main-nav {
    vertical-align: middle;
}

.main-nav {
    width: calc(100% - 184px);
    text-align: right;
}

.main-nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 20px 15px;
    font-size: 18px;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
}
.main-nav ul li a:hover, .main-nav ul li a.active {
    border-bottom-color: lightgreen;
}

/*------------
    MAIN
-------------*/
section {
    position: relative;
    height: 100vh;
}

#vernazza {
    background-color: lightcoral;
}
#manarola {
    background-color: lightgrey;
}
#riomaggiore {
    background-color: lightseagreen;
}

.box-text {
    position: absolute;
    /* coordinate rispetto al genitore position relative */
    top: 50%;
    left: 50%;
    /* traslo l'elemento di -200px , -200px verso l'alto e sinistra */
    transform: translate(-50%, -50%);
    color: #fff;
}